*{
	box-sizing: border-box;
}
body{
	z-index: -1;
	background-color: #c5c5c5;
}
.wrap{
	padding-left: 100px;
	padding-right: 100px;
	text-align: center;
	width:100%;
}

#logo{
	max-width: 100%;
	text-align: center;
	
}

#logo img{
	width: 100%;
	
	padding-top: 30px;
}
.content{
	padding: 20px;
	text-align: center;
	font-size: 50px;
}
.letter:nth-child(1) {
        -webkit-animation: fade 4s infinite 200ms;
        animation: fade 4s infinite 200ms;
}
.letter:nth-child(2) {
        -webkit-animation: fade 4s infinite 400ms;
        animation: fade 4s infinite 400ms;
 }
.letter:nth-child(3) {
        -webkit-animation: fade 4s infinite 600ms;
        animation: fade 4s infinite 600ms;
 }
.letter:nth-child(4) {
        -webkit-animation: fade 4s infinite 800ms;
        animation: fade 4s infinite 800ms;
}
.letter:nth-child(5) {
        -webkit-animation: fade 4s infinite 1000ms;
        animation: fade 4s infinite 1000ms;
}
/*.letter:nth-child(6) {
        -webkit-animation: fade 4s infinite 1200ms;
        animation: fade 4s infinite 1200ms;
}
.letter:nth-child(7) {
        -webkit-animation: fade 4s infinite 1400ms;
        animation: fade 4s infinite 1400ms;
}*/
  
 @-webkit-keyframes fade {
        50% {
            opacity: 0.02;
        }
}
  
 @keyframes fade {
        50% {
            opacity: 0.02;
        }
}


.snow-container{
	z-index: -1;
	position:fixed;
	width:100%;
	max-width:100%;
	pointer-events:none;
	overflow:hidden;
	top:0;
	height:100%;
	
}
.snow{
	z-index:-1;
	display:block;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	pointer-events:none;
	-webkit-transform:translate3d(0,-100%,0);
	transform:translate3d(0,-100%,0);
	-webkit-animation:snow linear infinite;
	animation:snow linear infinite;
}

.snow.foreground{
	z-index:-1;
	background-image:url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png");
	-webkit-animation-duration:15s;
	animation-duration:10s;
}
.snow.foreground.layered{
	z-index:-1;
	-webkit-animation-delay:7.5s;
	animation-delay:7.5s
}

.snow.middleground{
	z-index:-1;
	background-image:url(https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png);
	-webkit-animation-duration:20s;
	animation-duration:15s
}
.snow.middleground.layered{z-index:-1;
	-webkit-animation-delay:10s;animation-delay:10s}
.snow.background{z-index:1;background-image:url(https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png);-webkit-animation-duration:25s;animation-duration:20s}
.snow.background.layered{z-index:1;-webkit-animation-delay:12.5s;animation-delay:12.5s}
@-webkit-keyframes snow{0%{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}100%{-webkit-transform:translate3d(5%,100%,0);transform:translate3d(5%,100%,0)}}
@keyframes snow{0%{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}100%{-webkit-transform:translate3d(5%,100%,0);transform:translate3d(5%,100%,0)}}


.col{
	padding-top: 50px;
	padding-left: 30px;
	display: inline-block;
	width: 30.333%;
	position: relative;
	/**/
}

.thumb1{
	background-color: white;
	cursor: pointer;
	overflow: hidden;
	-webkit-transform: rotate(-2deg);
}
.thumb1 img {
	transition: all 0.5 ease;
	width: 95%;
	margin-top: 5px;
	margin-left: 3px;
	margin-right: 10px;
	margin-bottom: 30px;
}
.thumb1 img{
	border: 1px solid #ddd;
	transition: all 0.5s linear;
}
.thumb1 a{
	text-decoration:none;
	color: black;
	padding-bottom: 10px;
}
.thumb1:hover {
	transform: rotate(2deg);
	overflow: hidden;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);

	position: relative;
	z-index: 5;
}
.thumb1  a:after{
  content: attr(title);
	font-size: 30px;
	text-align: center;
	margin-bottom: 10px;
}
#footer{
	padding-bottom: 50px; 
}